[core]
  excludesFile = ~/.gitignore
[alias]
  history = log --graph --pretty=format:'%C(bold blue)%ar%Creset %C(bold magenta)[%an]%C(reset)%C(yellow)%d%Creset %s'
  reset-origin = !git fetch origin && git reset --hard origin/master && git clean -f -d
[color "diff"]
  new = green
  old = red
  frag = blue bold
  meta = magenta bold
[color "status"]
  added = green
  changed = yellow
  untracked = red
[init]
	defaultBranch = master
[log]
  date = short
[fetch]
  # Remove branches in your local repository that no longer exist in the remote with fetch/pull
  prune = true

[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/otrum/"]
  path = ~/.gitconfig-otrum
[includeIf "gitdir:~/mooncap/"]
  path = ~/.gitconfig-mooncap
[user]
	email = Ole.christian.slaattene@uniguest.com
	name = Ole Christian Slaattene
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
