# enable coloured output in the terminal
color = true

# disallow sending metrics, this defaults to false, but to be sure
send-metrics = false

# set default values in package.json when initializing with `npm init`
init-author-name=Ole Christian Slaattene
init-author-email=slaattene@gmail.com
init-version=0.0.0
init-license=UNLICENSED

# save globally installed packages to this directory
prefix = ~/.npm-global
